.row {
  display: flex;
  flex-direction: row;
}

.label-container {
  margin-right: 10px;
  margin-top: 15%;
}

.mat-icon {
  margin: 0 0 0 0;
}

.delete-button {
  margin-left: 6px;
  margin-top: 12px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
}

.add-button:hover, .delete-button:hover {
  background-color: gray;
}

.description {
  width: 40%;
  margin-left: 2%;
  text-align: left;
}

mat-card {
  border-top: 1px solid lightgray;
}
