.row {
  display: flex;
  flex-direction: row;
}

.label-container {
  margin-right: 10px;
  margin-top: 15%;
}

.delete-button {
  margin-top: 12px;
}

.mat-icon {
  margin: 0 0 0 0;
}

.delete-button {
  margin-left: 3px;
}

