@use '../../../../styles/defaults';

.error-snackbar {
  background-color: #f44336; /* set the background color to red */
  color: #fff; /* set the text color to white */
  font-size: 14px; /* set the font size */
}

.dropzone-container {
}

.file-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.hoverButton:hover{
  opacity: 0.8;
}

.containerElement {
  margin-right: defaults.$defaultSpacing;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: defaults.$defaultSpacing;
  height: defaults.$defaultRowHeigth;
  margin-right: defaults.$defaultSpacing+defaults.$defaultSpacing;
  margin-left:  defaults.$defaultSpacing;
}

.resultIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: defaults.$defaultSpacing;
}

.mat-expansion-panel-header-title {
  max-width: fit-content;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: defaults.$defaultRowHeigth;
  margin-top: defaults.$defaultSpacing;
}

.fileIcon {
  font-size: 64px;
  height: 64px ;
  width: 64px;
}

.executeButton {
  height: 48px;
}

.mat-expansion-panel-header {
  padding-left: 0px;
}
