<div class="header">
  <span class="title">
    Settings
  </span>
  
  <span class="spacer"></span>

  <button id="saveButton" matTooltip="Save settings"  mat-raised-button color="primary" type="button" (click)="saveSites()">
    <mat-icon>save</mat-icon>
  </button>

  
  
  <button mat-icon-button mat-dialog-close>
    <mat-icon matTooltip="Close settings" id="exitButton">close</mat-icon>
  </button>
</div>

<mat-tab-group>
  <mat-tab label="General">
    <app-general-settings-page></app-general-settings-page>
  </mat-tab>
  <mat-tab label="Sites"> 
    <app-site-settings-page></app-site-settings-page>
  </mat-tab>
</mat-tab-group>

