@import '../../../defaults.scss';
.title {
  align-self: center;
  font-size: x-large;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: $defaultSpacing*2;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #saveButton{
    margin-right: $defaultSpacing;
  }

  .spacer{
    flex: auto;
  }
