@use '../../../styles/defaults';

.title {
  align-self: center;
  font-size: x-large;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#saveButton {
  margin-right: defaults.$defaultSpacing;
}

.spacer {
  flex: auto;
}

#container {
  padding: defaults.$defaultSpacing;
}
