@use '../../../styles/defaults';

.SubTitle {
    font-size: large;
}

#content{
    margin-top: defaults.$defaultSpacing;
    overflow: hidden; // hide scrollbar
}

mat-slide-toggle {
    margin-top: defaults.$defaultSpacing*2;
    margin-left: defaults.$defaultSpacing;
}

.textinput {
    margin-top: defaults.$defaultSpacing*2;
    margin-left: defaults.$defaultSpacing;
}
