<div mat-dialog-title class="dialog-title">
  <h3>Headers
  <span><mat-icon (click)="addHeader()">add_circle_outline</mat-icon></span>
  </h3>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div class="scrollable">
    <ng-container *ngFor="let headerFormGroup of headerFormGroups; let i = index;">
      <div [formGroup]="headerFormGroup" class="headers-list">
        <span>{{i + 1}}.</span>
        <mat-form-field [style.width.%]="30">
          <mat-label>Key</mat-label>
          <input type="text" matInput formControlName="key">
        </mat-form-field>
        <mat-form-field [style.width.%]="60">
          <mat-label>Value</mat-label>
          <input type="text" matInput formControlName="value">
        </mat-form-field>
        <mat-icon (click)="removeHeader(i)">remove_circle_outline</mat-icon>
      </div>
    </ng-container>
  </div>
  <br/>
  <div>
      <button mat-raised-button color="primary" type="button" (click)="updateHeaders()">Update</button>
  </div>
</mat-dialog-content>

