mat-dialog-content .scrollable {
  padding: inherit;
  border: 3px solid gray;
  height: 200px;
  width: 90%;
  overflow-y: scroll;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
