.headers-container, .sites-container {
  padding: inherit;
  border: 3px solid gray;
  width: 90%;
  overflow-y: scroll;
}

.headers-container {
  height: 200px;
}

.sites-container {
  height: 130px;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headers *, .sites * {
  padding-left: 1%;
}
