@use '../../../styles/defaults';

.jsonTree {
  --ngx-json-string: #d32f2f;
  --ngx-json-number: #e65100;
  --ngx-json-boolean: #1976d2;
  --ngx-json-null: #616161;
  --ngx-json-undefined: #616161;
}

.container {
  padding: defaults.$containerSpacing;
}
