:host ::ng-deep * {
  font-family: monospace;
}

:host ::ng-deep pre span {
  white-space: normal;
}

:host ::ng-deep .string { color: red; }
:host ::ng-deep .number { color: darkorange; }
:host ::ng-deep .boolean { color: blue; }
:host ::ng-deep .null { color: magenta; }
:host ::ng-deep .key { color: black; }
