.content-preview {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 80vh;
}

.text-preview {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  white-space: pre;
  color: #333333;
}
