@use '../../../../styles/defaults';

mat-panel-title {
  align-items: center;
}

.hoverButton:hover{
  opacity: 0.8;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title {
  max-width: fit-content;
}
.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: defaults.$rowHeigth;
  margin-top: defaults.$spacing;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: defaults.$rowHeigth;
  margin-right: defaults.$spacing+defaults.$spacing;
  margin-left:  defaults.$spacing;
}

.resultIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: defaults.$spacing;
}

.executeButton {
  height: 48px;
}

.mat-expansion-panel-header {
  padding-left: 0px;
}
