@use '../../../../styles/defaults';

mat-panel-title {
  align-items: center;
}

.hoverButton:hover{
  opacity: 0.8;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title {
  max-width: fit-content;
}
.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: defaults.$defaultRowHeigth;
  margin-top: defaults.$defaultSpacing;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: defaults.$defaultRowHeigth;
  margin-right: defaults.$defaultSpacing+defaults.$defaultSpacing;
  margin-left:  defaults.$defaultSpacing;
}

.resultIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: defaults.$defaultSpacing;
}

.executeButton {
  height: 48px;
}

.mat-expansion-panel-header {
  padding-left: 0px;
}
