@import '../../../../styles/defaults.scss';

mat-panel-title {
  align-items: center;
}

//.resultContainer {
//  margin-top: $defaultSpacing;
//}

.hoverButton:hover{
  opacity: 0.8;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title {
  max-width: fit-content;
}
.buttonRow {
  margin-top: $defaultSpacing;
  height: $defaultRowHeigth;
  display: flex;
  flex-direction: row;
}

.resultIconContainer {
  display: flex;
  align-items: center;
  height: $defaultRowHeigth;
  margin-right: $defaultSpacing+$defaultSpacing;
  margin-left:  $defaultSpacing;
  padding: 0;
}
