<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="icon" color="primary">play_circle_outline</mat-icon>
      <div>{{action.name}}</div>
    </mat-panel-title>
    <mat-panel-description>
      {{action.title}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- <div>classes: {{action.classes.join(",")}}</div> -->
  <!-- <div>schema: {{action.waheActionParameterJsonSchema | async}}</div> -->

  <!-- todo if contains body show it / navigate to it -->
<!--  <json-schema-form [(data)]="action.defaultValues" [schema]="action.waheActionParameterJsonSchema | async"-->
<!--                    (onSubmit)="onActionSubmitted($event)"></json-schema-form>-->


  <form [formGroup]="form" (ngSubmit)="onActionSubmitted()">
    <formly-form [fields]="formlyFields" [form]="form"></formly-form>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <!-- <button *ngIf="actionResultLocation !== null" mat-raised-button (click)="navigateLocation(actionResultLocation)" matTooltip="{{actionResultLocation}}">
    Action result
  </button>
  <span>{{actionMessage}}</span> -->

  <!-- <app-raw-view [rawObject]="action.waheActionParameterJsonSchema | async"></app-raw-view> -->

  <div class="resultContainer" fxLayout="row" fxLayoutAlign="start center">

    <!-- result icon -->
    <div class="resultIconContainer" [ngSwitch]="actionResult" *ngIf="executed">
      <mat-icon *ngSwitchCase="ActionResultsEnum.ok" class="containerElement" color="primary"
                matTooltip={{actionMessage}}>done</mat-icon>
      <mat-icon *ngSwitchCase="ActionResultsEnum.error" class="containerElement hoverButton" color="warn" [matMenuTriggerFor]="errorPopup"
                matTooltip={{actionMessage}}>error</mat-icon>
      <mat-progress-spinner [diameter]="26" *ngSwitchCase="ActionResultsEnum.pending" mode="indeterminate" color="accent"></mat-progress-spinner>
      <mat-icon *ngSwitchCase="ActionResultsEnum.undefined" class="containerElement" color="primary"
                matTooltip={{actionMessage}}>question_mark</mat-icon>
    </div>
    <mat-menu #errorPopup="matMenu">
      <div (click)="$event.stopPropagation()">
        <app-problem-details-view *ngIf="problemDetailsError" [problemDetailsError]="problemDetailsError"></app-problem-details-view>
      </div>
    </mat-menu>

    <!-- result button -->
    <button *ngIf="actionResultLocation !== null"
            class="containerElement"
            mat-raised-button
            (click)="navigateLocation(actionResultLocation)"
            color="accent"
            matTooltip="Go to result: {{actionResultLocation}}">
      <mat-icon class="icon" color="primary">start</mat-icon>
    </button>
  </div>

</mat-expansion-panel>
