<mat-expansion-panel class="action-panel" [hideToggle]="true">
  <mat-expansion-panel-header #panelHeader>
    <mat-panel-title>
      <div class="action-header-content">
        <button class="execute-button" mat-flat-button color="primary">
          @if (getIconForMethod(action.method)) {
            <mat-icon class="action-icon">{{getIconForMethod(action.method)}}</mat-icon>
          } @else {
            <mat-icon class="action-icon">play_circle_outline</mat-icon>
          }
          <span class="action-name">{{action.title || action.name}}</span>
        </button>
        <mat-icon class="expand-icon" [class.expanded]="panelHeader.panel.expanded">expand_more</mat-icon>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      {{action.name}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <form [formGroup]="form" (ngSubmit)="onActionSubmitted()">
      <div class="form-content">
        <formly-form [fields]="formlyFields" [form]="form" [model]="model"></formly-form>
      </div>
      <div class="button-row">
        <button mat-flat-button type="submit" class="submit-button" color="primary">
          <mat-icon>send</mat-icon>
          Submit
        </button>

        <div class="result-container">
          @if (executed) {
            <div class="result-icon-container">
              @switch (actionResult) {
                @case (ActionResultsEnum.ok) {
                  <mat-icon class="result-icon success" color="primary"
                  matTooltip={{actionMessage}}>check_circle</mat-icon>
                }
                @case (ActionResultsEnum.error) {
                  <mat-icon class="result-icon error hover-button" color="warn" [matMenuTriggerFor]="errorPopup"
                  matTooltip={{actionMessage}}>error</mat-icon>
                }
                @case (ActionResultsEnum.pending) {
                  <mat-progress-spinner [diameter]="24" mode="indeterminate"></mat-progress-spinner>
                }
                @case (ActionResultsEnum.undefined) {
                  <mat-icon class="result-icon undefined"
                  matTooltip={{actionMessage}}>help_outline</mat-icon>
                }
              }
            </div>
          }
          @if (actionResultLocation !== null) {
            <button type="button"
              class="result-link-button"
              mat-stroked-button
              (click)="navigateLocation(actionResultLocation)"
              color="primary"
              matTooltip="Go to result: {{actionResultLocation}}">
              <mat-icon>arrow_forward</mat-icon>
              View Result
            </button>
          }
        </div>
      </div>
    </form>
  </ng-template>

  <!-- <button *ngIf="actionResultLocation !== null" mat-raised-button (click)="navigateLocation(actionResultLocation)" matTooltip="{{actionResultLocation}}">
  Action result
</button>
<span>{{actionMessage}}</span> -->

<!-- <app-raw-view [rawObject]="action.waheActionParameterJsonSchema | async"></app-raw-view> -->



<mat-menu #errorPopup="matMenu" class="error-menu-panel">
  <div (click)="$event.stopPropagation()">
    @if (problemDetailsError) {
      <app-problem-details-view [problemDetailsError]="problemDetailsError"></app-problem-details-view>
    }
  </div>
</mat-menu>

</mat-expansion-panel>
