@use '../../../styles/defaults';

.mat-card-header-text {
  margin: 0px;
}

mat-divider {
  margin-top: defaults.$defaultSpacing;
  margin-bottom: defaults.$defaultSpacing;
}

p {
  white-space: pre-line;
  font-size: medium;
}

.problem-details-view {
  padding: defaults.$defaultSpacing;
  margin: 0;
  box-shadow: none;
}

.CopyToClipboardButton {
  margin-left: auto;
}

.hoverButton:hover{
  opacity: 0.8;
}
