<mat-card class="problem-details-view">
  <mat-card-header>
    <mat-card-title>{{problemDetailsError.title === "" ? "Error": problemDetailsError.title}}</mat-card-title>
    <mat-card-subtitle>{{problemDetailsError.type}}{{getStatusCodeMessage(problemDetailsError.status)}}</mat-card-subtitle>
    <button mat-icon-button
            class="CopyToClipboardButton hoverButton"
            (click)="copyToClipBoard()"
            matTooltip="Copy raw response body to clipboard"
            color="primary">
        <mat-icon>assignment</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="problemDetailsError.detail">{{problemDetailsError.detail}}</p>
    <p *ngIf="problemDetailsError.instance">{{"See: " + problemDetailsError.instance}}</p>
  </mat-card-content>

</mat-card>
