/* You can add global styles to this file, and also import other style files */
@import 'hypermedia-ui-theme.scss';
@import 'material-icons.scss';

mat-card {
  margin: 1rem;
}

body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}