<div class="non-siren-container">
  <div class="info-and-actions">
    <div class="header">
      <mat-icon class="mime-icon">{{getIcon()}}</mat-icon>
      <div class="file-details">
        <span class="mime-type">{{getDisplayMimeType()}}</span>
      </div>
    </div>

    <div class="actions">
      @if (getContentSize() !== undefined) {
        <span class="file-size">({{getContentSize() | fileSize}})</span>
      }
      <button mat-raised-button color="primary" (click)="download()" class="action-button">
        <mat-icon>download</mat-icon>
        Download File
      </button>
    </div>
  </div>

  @if (getPreviewType() === PreviewType.Image) {
    <app-image-preview [blob]="rawContent" style="width: 100%"></app-image-preview>
  } @else if (getPreviewType() === PreviewType.Text) {
    <app-text-preview [blob]="rawContent" [contentType]="contentType" style="width: 100%"></app-text-preview>
  } @else if (getPreviewType() === PreviewType.Json) {
    <app-json-preview [blob]="rawContent" style="width: 100%"></app-json-preview>
  }
</div>
