<div class="container">

  <div class="entityTitle">
    {{title}}
  </div>

  @if (GeneralSettings.showClasses) {
    <div>Classes: {{classes}}</div>
  }

  <app-property-grid [propertyContainer]="properties" [generalSettings]="GeneralSettings"></app-property-grid>

  @if (GeneralSettings.showEmptyLinks || links.length > 0) {
    <app-link-view [links]="links"></app-link-view>
  }

  @if (GeneralSettings.showEmptyEntities || embeddedEntities.length > 0 || embeddedLinkEntities.length > 0) {
    <app-embedded-entity-view [embeddedEntities]="embeddedEntities" [embeddedLinkEntities]="embeddedLinkEntities"></app-embedded-entity-view>
  }

  @if (GeneralSettings.showEmptyActions || actions.length > 0) {
    <app-actions-view [actions]="actions"></app-actions-view>
  }
</div>
