<div class="container">

  <div class="entityTitle">
    {{title}}
  </div>

  <div *ngIf="GeneralSettings.showClasses">Classes: {{classes}}</div>

  <app-property-grid [propertyContainer]="properties" [generalSettings]="GeneralSettings"></app-property-grid>

  <app-link-view [links]="links" *ngIf="GeneralSettings.showEmptyLinks || links.length > 0"></app-link-view>

  <app-embedded-entity-view [embeddedEntities]="embeddedEntities" [embeddedLinkEntities]="embeddedLinkEntities" *ngIf="GeneralSettings.showEmptyEntities || embeddedEntities.length > 0 || embeddedLinkEntities.length > 0"></app-embedded-entity-view>

  <app-actions-view [actions]="actions" *ngIf="GeneralSettings.showEmptyActions || actions.length > 0"></app-actions-view>



</div>
