<div class="container">
  <div class="itemsHeader">
    <span class="spacer"></span>
    <span class="itemsLabel">{{embeddedEntities?.length + embeddedLinkEntities?.length}} items</span>
  </div>

  @for (embeddedEntity of embeddedEntities; track embeddedEntity; let idx = $index) {
    <mat-expansion-panel  class="entityExpander" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{idx + 1}}: {{embeddedEntity.relations.join(",")}}
        </mat-panel-title>
        @if (generalSettings.showClasses) {
          <mat-panel-description>
            Classes: {{embeddedEntity.classes.join(",")}}
          </mat-panel-description>
        }
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-entity-view [entity]="embeddedEntity"></app-entity-view>
      </ng-template>
    </mat-expansion-panel>
  }

  @for (embeddedLinkEntity of embeddedLinkEntities; track embeddedLinkEntity; let idx = $index) {
    <ng-template matExpansionPanelContent>
      <mat-card  appearance="outlined"  class="embeddedLinkEntityCard" >
        <span>
          {{idx + 1 + embeddedEntities?.length}}: {{embeddedLinkEntity.relations.join(",")}}
        </span>
        @if (generalSettings.showClasses) {
          <span>
            Classes: {{embeddedLinkEntity.classes.join(",")}}
          </span>
        }
        <button mat-icon-button class="CopyToClipboardButton" (click)="copyToClipBoard(embeddedLinkEntity.href)" matTooltip="Copy to clipboard" color="primary">
          <mat-icon>assignment</mat-icon>
        </button>
        <button class="entityLinkButton" mat-raised-button (click)="navigateHref(embeddedLinkEntity.href)" matTooltip="{{embeddedLinkEntity.href}}" color="primary">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card>
    </ng-template>
  }
</div>
