@use '../../../styles/defaults';

.container {
  margin-top: defaults.$containerSpacing;
  padding: 0;
}

.itemsHeader {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: auto auto;
}

.itemsLabel {
  font-size: 12px;
  color: grey;
}

.entityExpander {
  margin: defaults.$spacing 0;
}

.embeddedLinkEntityCard {
  margin: defaults.$spacing 0;
  padding: defaults.$spacing;
  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  align-items: center;
}

.entityLinkButton {
  justify-self: end;
}
.CopyToClipboardButton{
  justify-self: end;
}

::ng-deep div.mat-expansion-panel-body {
  padding: defaults.$spacing;
}
