<div class="container">
  @for (action of actions; track action) {
    @switch (action.actionType) {
      @case (ActionType.NoParameters) {
        <div class="actionContainer">
          <app-parameterless-action-view [action]=action></app-parameterless-action-view>
        </div>
      }
      @case ( ActionType.JsonObjectParameters) {
        <div class="actionContainer">
          <app-parameter-action [action]=action></app-parameter-action>
        </div>
      }
      @case (ActionType.FileUpload) {
        <div class="actionContainer">
          <app-file-upload-action [action]=action></app-file-upload-action>
        </div>
      }
    }
  }

</div>
