@use '../../styles/defaults';

.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr auto;
    padding: defaults.$defaultSpacing;
    height: 100%;
}

.containerForm{
  grid-row: 2;
  justify-self: center;
  width: 60%;
  min-width: 400px;
  display: grid;
}

.apiEntryFormField {
  width: 100%;
}

mat-error {
  color: orange;
}

.navigateButton{
  grid-row: 3;
  justify-self: center;
  margin-top: defaults.$defaultSpacing; 
 
}

.appIcon {
  margin-right: defaults.$defaultSpacing;
}

