@use '../../../styles/defaults';

.container {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonContainer:hover .CopyToClipboardButton{
  opacity: 1;
}

.buttonContainer:hover .CopyToClipboardButton:hover{
  opacity: 0.8;
}

.CopyToClipboardButton  {
  opacity: 0;
  background-color: transparent;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: defaults.$defaultSpacing;
}

.mat-button-toggle {
  background-color: #4456b2;
  color: white;
  height: 48px;
}
