@import '../../../styles/defaults.scss';

.container {
  margin-top: $defaultContainerSpacing;
  padding: 0;
}

.buttonContainer:hover .CopyToClipboardButton{
  opacity: 1;
}

.buttonContainer:hover .CopyToClipboardButton:hover{
  opacity: 0.8;
}

.buttonContainer .CopyToClipboardButton {
  opacity: 0;
}

.CopyToClipboardButton{
   padding: 0px;
   margin: 0px;
   max-height: 24px;
}

::ng-deep .mat-mdc-icon-button {
  font-size: 10px;
}

