<mat-card>
  <mat-card-header>
    <mat-card-title>
      Site settings
      <mat-icon (click)="addSite()">add_circle_outline</mat-icon>
      <button mat-raised-button color="primary" type="button" (click)="saveSites()">Save</button>
      <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>

  <app-site-settings [siteSetting]="siteSettings?.GlobalSiteSettings" [urlEditable]="false" headline="Global site settings" [canBeDeleted]="false"></app-site-settings>  
  <ng-container *ngFor="let site of siteSettings?.SiteSpecificSettings; let i = index;">
    <app-site-settings [siteSetting]="site" (deleteRequested)="removeSite(i)"></app-site-settings>
  </ng-container>
</mat-card>