

<app-site-settings [siteSetting]="siteSettings?.GlobalSiteSettings" [urlEditable]="false"
headline="Global" [canBeDeleted]="false"></app-site-settings>
@for (site of siteSettings?.SiteSpecificSettings; track site; let i = $index) {
  <app-site-settings [siteSetting]="site" (deleteRequested)="removeSite(i)"></app-site-settings>
}

<div class="toolbar">
  <button id="addButton" mat-raised-button color="primary" type="button" (click)="addSite()">
    <mat-icon>add_circle_outline</mat-icon>
    Add site
  </button>
</div>