<div class="closable backdrop"></div>

<div class="closable message-dialog">

  <mat-card>
    <!-- default error box -->
    <div *ngIf="!problemDetailsError">
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-content>{{ message }}</mat-card-content>
    </div>

    <div *ngIf="problemDetailsError">
      <app-problem-details-view [problemDetailsError]="problemDetailsError"></app-problem-details-view>
    </div>

    <mat-card-content>
      <button
              (click)="reload.emit()"
              mat-raised-button
              [color]="color"
              i18n="errorDialog.refreshButton|The text of the close button in the error dialog@@errorDialogCloseButton">
        <mat-icon>refresh</mat-icon>
        Reload page
      </button>

      <button (click)="gotoEntryPoint.emit()"
              mat-raised-button
              [color]="color"
              i18n="errorDialog.entryPointButton|The text of the close button in the error dialog@@errorDialogCloseButton">
        <mat-icon class="icon">exit_to_app</mat-icon>
        Go to entry point
      </button>
    </mat-card-content>
  </mat-card>
</div>