<div class="closable backdrop"></div>

<div class="closable message-dialog">

  <mat-card appearance="outlined">
    <!-- default error box -->
    @if (!problemDetailsError) {
      <div>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-content>{{ message }}</mat-card-content>
      </div>
    }

    @if (problemDetailsError) {
      <div>
        <app-problem-details-view [problemDetailsError]="problemDetailsError"></app-problem-details-view>
      </div>
    }

    <div id="buttonRow">
      <button (click)="reload.emit()"
        mat-raised-button
        [color]="color"
        i18n="errorDialog.refreshButton|The text of the close button in the error dialog@@errorDialogCloseButton">
        <mat-icon class="icon">refresh</mat-icon>
        Reload page
      </button>

      <button (click)="gotoEntryPoint.emit()"
        mat-raised-button
        [color]="color"
        i18n="errorDialog.entryPointButton|The text of the close button in the error dialog@@errorDialogCloseButton">
        <mat-icon class="icon">home</mat-icon>
        Go to entry point
      </button>

      <button (click)="exitApi.emit()"
        mat-raised-button
        [color]="color"
        i18n="errorDialog.exitApiButton|The text of the close button in the error dialog@@errorDialogCloseButton">
        <mat-icon class="icon">exit_to_app</mat-icon>
        Exit API
      </button>
    </div>
  </mat-card>
</div>
