@use '../../../styles/defaults';

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}

.message-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

button {
  margin-right: defaults.$spacing;
}

app-problem-details-view{
  background-color: white;
}

#buttonRow {
  margin-left: defaults.$spacing;
  margin-bottom: defaults.$spacing;
}
