@if (generalSettings.showEmptyProperties || propertyContainer.length > 0) {
  <div>
    <mat-list>
      @for (property of propertyContainer; track property) {
        <div class="propertyGrid">
          @if (property.type !== propertyTypes.nullvalue || generalSettings.showNullProperties) {
            <div class="propertyLabel">{{property.name}}:</div>
            @switch (property.type) {
              @case (propertyTypes.number) {
                <div class="propertyValue">{{property.value}}</div>
              }
              @case (propertyTypes.string) {
                <div class="propertyValue">{{property.value}}</div>
              }
              @case (propertyTypes.boolean) {
                <mat-checkbox [checked]="property.value" [disabled]="true"></mat-checkbox>
              }
              @case (propertyTypes.nullvalue) {
                <div class="propertyValue">null</div>
              }
              @case (propertyTypes.array) {
                @if (!IsPrimitiveArray(property.value)) {
                  <app-property-grid class="nestedObject" [propertyContainer]=GetObjectPropertyInfos(property.value) [generalSettings]="generalSettings"></app-property-grid>
                }
                @if (IsPrimitiveArray(property.value)) {
                  <div class="propertyValue">{{property.value}}</div>
                }
              }
              @case (propertyTypes.object) {
                <app-property-grid  class="nestedObject" [propertyContainer]=GetObjectPropertyInfos(property.value) [generalSettings]="generalSettings"></app-property-grid>
              }
            }
          }
        </div>
      }
    </mat-list>
  </div>
}
