@import '../../../../defaults.scss';

.action-container {

  height: $defaultRowHeigth;
  margin: 0;
  padding: 0;
}

.executeButton {
  padding-left: 24px;
}


.containerElement {
  margin-right: $defaultSpacing;
}

.resultIconContainer {
  display: flex;
  align-items: center;

  height: $defaultRowHeigth;
  margin: 0;
  padding: 0;
  align-items: center;
}

.contentRow {
  height: $defaultRowHeigth;
  margin: 0;
  padding: 0;
}