<mat-card class="action-container" fxLayout="row" fxLayoutAlign="start center">

  <!-- execute button -->
  <div fxLayout="row" class="contentRow">
    <button class="executeButton containerElement" mat-raised-button (click)="executeAction()"
            matTooltip="{{action.title}}">
      <mat-icon class="icon" color="primary">play_circle_outline</mat-icon>
      {{action.name}}
    </button>
  </div>

  <div class="resultIconContainer" [ngSwitch]="actionResult" *ngIf="executed">
    <button mat-icon-button class="containerElement">
      <mat-icon *ngSwitchCase="ActionResultsEnum.ok" color="primary"
                matTooltip={{actionMessage}}>done</mat-icon>
      <mat-icon *ngSwitchCase="ActionResultsEnum.error" color="warn" class="hoverButton" [matMenuTriggerFor]="errorPopup"
                matTooltip={{actionMessage}}>error</mat-icon>
      <mat-progress-spinner [diameter]="26" *ngSwitchCase="ActionResultsEnum.pending" mode="indeterminate" color="accent"></mat-progress-spinner>
      <mat-icon *ngSwitchCase="ActionResultsEnum.undefined" color="primary"
                matTooltip={{actionMessage}}>question_mark</mat-icon>
    </button>
  </div>
  <mat-menu #errorPopup="matMenu">
    <div (click)="$event.stopPropagation()">
      <app-problem-details-view *ngIf="problemDetailsError" [problemDetailsError]="problemDetailsError"></app-problem-details-view>
    </div>
  </mat-menu>

  <!-- result button -->
  <button *ngIf="actionResultLocation !== null"
          class="containerElement"
          mat-raised-button
          (click)="navigateLocation(actionResultLocation)"
          color="accent"
          matTooltip="Go to result: {{actionResultLocation}}">
    <mat-icon class="icon" color="primary">start</mat-icon>
  </button>

  <!-- description -->
  <mat-panel-description>
    <span>{{action.title}}</span>
  </mat-panel-description>

</mat-card>