@import '../../../../styles/defaults.scss';

.action-container {
  display: flex;
  flex-direction: row;
  height: $defaultRowHeigth;
  margin: 0;
  padding: 0;
}

.executeButton {
  height: inherit;
}

.containerElement {
  margin-right: $defaultSpacing;
}

.resultIconContainer {
  display: flex;
  align-items: center;
  margin-right: $defaultSpacing+$defaultSpacing;
  margin-left:  $defaultSpacing;
}

.resultLocationButton {
  align-self: center;
}

.contentRow {
  display: flex;
  flex-direction: row;
}
