<mat-card appearance="outlined" class="action-container">

  <!-- execute button -->
  <div class="contentRow">
    <button class="executeButton containerElement" mat-raised-button color="primary" (click)="executeAction()"
      matTooltip="{{action.title}}">
      <mat-icon class="icon" color="secondary">play_circle_outline</mat-icon>
      {{action.name}}
    </button>
  </div>

  @if (executed) {
    <div class="resultIconContainer">
      @switch (actionResult) {
        @case (ActionResultsEnum.ok) {
          <mat-icon color="primary"
          matTooltip={{actionMessage}}>done</mat-icon>
        }
        @case (ActionResultsEnum.error) {
          <mat-icon color="warn" class="hoverButton" [matMenuTriggerFor]="errorPopup"
          matTooltip={{actionMessage}}>error</mat-icon>
        }
        @case (ActionResultsEnum.pending) {
          <mat-progress-spinner [diameter]="24" mode="indeterminate" color="accent"></mat-progress-spinner>
        }
        @case (ActionResultsEnum.undefined) {
          <mat-icon color="primary"
          matTooltip={{actionMessage}}>question_mark</mat-icon>
        }
      }
    </div>
  }
  <mat-menu #errorPopup="matMenu">
    <div (click)="$event.stopPropagation()">
      @if (problemDetailsError) {
        <app-problem-details-view [problemDetailsError]="problemDetailsError"></app-problem-details-view>
      }
    </div>
  </mat-menu>

  <!-- result button -->
  @if (actionResultLocation !== null) {
    <button
      class="containerElement resultLocationButton"
      mat-raised-button
      (click)="navigateLocation(actionResultLocation)"
      color="accent"
      matTooltip="Go to result: {{actionResultLocation}}">
      <mat-icon class="icon" color="primary">start</mat-icon>
      Result
    </button>
  }

  <!-- description -->
  <mat-panel-description>
    <span>{{action.title}}</span>
  </mat-panel-description>

</mat-card>
