@use '../../../styles/defaults';

headerMenue{
  padding: defaults.$defaultSpacing;
}

.spacer {
  flex: 1 1 auto;
}

rawContent{
  margin: 50px;
  padding: 50px;
}

.mat-progress-bar-element {
  height: 6px !important;
}

.mat-mdc-progress-bar {
  height: 6px !important;
}

.progressSpacer {
  height: 6px;
  width: 100%;
}

.appIcon {
  margin-right: defaults.$defaultSpacing;
}

#CurrentEntryPoint {
  font-size: 16px;
}

.isInsecure {
  color: red;
}

#IsInsecureConnectionIcon {
  color: red;
  margin-right: 16px;
}
