<mat-toolbar class="headerMenue" color="primary">
  <mat-icon class="appIcon">signpost</mat-icon>
  <span [innerText]="title"></span>
  <span class="spacer"></span>
  @if (GeneralSettings.showHostInformation && IsInsecureConnection) {
    <mat-icon id="IsInsecureConnectionIcon" matTooltip="The connection is unencrypted (http)">lock_open</mat-icon>
  }
  @if (GeneralSettings.showHostInformation) {
    <span id="CurrentEntryPoint" matTooltip="{{CurrentEntryPoint}}" [ngClass]="{'isInsecure': IsInsecureConnection}">{{CurrentHost}}</span>
  }
  @if (GeneralSettings.showHostInformation) {
    <span class="spacer"></span>
  }
  @if (showSettingsIcon) {
    <app-settings-menu></app-settings-menu>
  }
  @if (userName) {
    <span>{{userName}}</span>
  }

  <button mat-icon-button matTooltip="Exit API" (click)="exitApi()">
    <mat-icon class="icon">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

@if (isBusy) {
  <mat-progress-bar class="progressSpacer" mode="indeterminate" color="accent"></mat-progress-bar>
}
@if (!isBusy) {
  <div class="progressSpacer">&nbsp;</div>
}


<mat-toolbar class="apiToolbar">
  <nav class="breadcrumb-container">
    @for (link of navPaths; track link; let i = $index) {
      <a mat-button
         class="breadcrumb-link"
         matTooltip="{{link}}"
         [href]="getBrowserUrl(link)"
         (click)="$event.preventDefault(); navigateLink(link)">
        @if (i === 0) {
          <mat-icon class="breadcrumb-icon">home</mat-icon>
        }
        <span class="breadcrumb-text">{{getUrlShortName(link)}}</span>
      </a>
      @if (i < navPaths.length - 1) {
        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
      }
    }
  </nav>

  <span class="spacer"></span>

  @if (GeneralSettings.showRawTab && !showRaw) {
    <mat-slide-toggle
      class="property-toggle"
      [ngModel]="showPropertyTreeControls"
      (change)="togglePropertyTreeControls($event.checked)"
      color="primary"
      matTooltip="Show property tree controls">
      <mat-icon>tune</mat-icon>
    </mat-slide-toggle>
  }

  @if (GeneralSettings.showRawTab) {
    <mat-button-toggle-group class="view-toggle" [(ngModel)]="showRaw" aria-label="View Mode">
      <mat-button-toggle [value]="false">
        <mat-icon>grid_view</mat-icon>
        <span>UI</span>
      </mat-button-toggle>
      <mat-button-toggle [value]="true">
        <mat-icon>code</mat-icon>
        <span>Raw</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  }
</mat-toolbar>

@if (GeneralSettings.showRawTab && showRaw) {
  <app-raw-view class="rawContent" [rawObject]="rawResponse"></app-raw-view>
} @else if (contentType && contentType.toLowerCase() !== MediaTypes.Siren.toLowerCase()) {
  <app-non-siren-view [contentType]="contentType" [rawContent]="rawResponse"></app-non-siren-view>
} @else {
  <app-entity-view [entity]="hto"></app-entity-view>
}
