<mat-toolbar class="headerMenue" color="primary">
  <mat-icon class="appIcon">signpost</mat-icon>
  <span [innerText]="title"></span>
  <span class="spacer"></span>
  @if (GeneralSettings.showHostInformation && IsInsecureConnection) {
    <mat-icon id="IsInsecureConnectionIcon" matTooltip="The connection is unencrypted (http)">lock_open</mat-icon>
  }
  @if (GeneralSettings.showHostInformation) {
    <span id="CurrentEntryPoint" matTooltip="{{CurrentEntryPoint}}" [ngClass]="{'isInsecure': IsInsecureConnection}">{{CurrentHost}}</span>
  }
  @if (GeneralSettings.showHostInformation) {
    <span class="spacer"></span>
  }
  @if (showSettingsIcon) {
    <app-settings-menu></app-settings-menu>
  }
  @if (userName) {
    <span>{{userName}}</span>
  }

  <button mat-icon-button matTooltip="Exit API" (click)="exitApi()">
    <mat-icon class="icon">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

@if (isBusy) {
  <mat-progress-bar class="progressSpacer" mode="indeterminate" color="accent"></mat-progress-bar>
}
@if (!isBusy) {
  <div class="progressSpacer">&nbsp;</div>
}


<mat-toolbar class="apiToolbar">
  <nav class="breadcrumb-container">
    @for (link of navPaths; track link; let i = $index) {
      <a mat-button
         class="breadcrumb-link"
         matTooltip="{{link}}"
         [href]="getBrowserUrl(link)"
         (click)="$event.preventDefault(); navigateLink(link)">
        @if (i === 0) {
          <mat-icon class="breadcrumb-icon">home</mat-icon>
        }
        <span class="breadcrumb-text">{{getUrlShortName(link)}}</span>
      </a>
      @if (i < navPaths.length - 1) {
        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
      }
    }
  </nav>

  <span class="spacer"></span>

  @if (isSearchAvailable) {
    <div class="search-box" [class.invalid]="search.queryError()">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text"
             aria-label="Search"
             placeholder="Search ..."
             [value]="search.inputText()"
             (input)="search.setInputText($any($event.target).value)"
             (keydown.enter)="search.next()"
             (keydown.shift.enter)="search.previous()"
             [matTooltip]="search.queryError() ? 'Invalid regular expression: ' + search.queryError() : ''">

      @if (search.inputText()) {
        <span class="match-counter" [class.no-matches]="search.hits().length === 0">
          {{ search.hits().length > 0 ? (search.currentIndex() + 1) + '/' + search.hits().length : '0' }}
        </span>
        <button mat-icon-button class="search-button" aria-label="Clear search" matTooltip="Clear search" (click)="search.clear()">
          <mat-icon>close</mat-icon>
        </button>
      }

      <button mat-icon-button
              class="search-button"
              [disabled]="search.hits().length === 0"
              (click)="search.previous()"
              aria-label="Previous hit"
              matTooltip="Previous hit (Shift+Enter)">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button
              class="search-button"
              [disabled]="search.hits().length === 0"
              (click)="search.next()"
              aria-label="Next hit"
              matTooltip="Next hit (Enter)">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-icon-button
              class="search-button"
              [matMenuTriggerFor]="searchOptionsMenu"
              aria-label="Search options"
              matTooltip="Search options">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>

    <mat-menu #searchOptionsMenu="matMenu">
      <div class="search-options" tabindex="-1" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <span class="search-options-title">Search in</span>
        @for (option of searchScopeOptions; track option.key) {
          <mat-slide-toggle color="primary"
                            [checked]="search.options()[option.key]"
                            [disabled]="option.entityOnly && search.rawMode()"
                            (change)="setSearchOption(option.key, $event.checked)">
            {{option.label}}
          </mat-slide-toggle>
        }
        <mat-divider></mat-divider>
        @for (option of searchModifierOptions; track option.key) {
          <mat-slide-toggle color="primary"
                            [checked]="search.options()[option.key]"
                            (change)="setSearchOption(option.key, $event.checked)">
            {{option.label}}
          </mat-slide-toggle>
        }
      </div>
    </mat-menu>
  }

  @if (GeneralSettings.showRawTab) {
    <mat-button-toggle-group class="view-toggle" [ngModel]="showRaw" (ngModelChange)="setShowRaw($event)" (click)="releaseToggleFocus($event)" hideSingleSelectionIndicator aria-label="View Mode">
      <mat-button-toggle [value]="false">
        <mat-icon>grid_view</mat-icon>
        <span>UI</span>
      </mat-button-toggle>
      <mat-button-toggle [value]="true">
        <mat-icon>code</mat-icon>
        <span>Raw</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  }
</mat-toolbar>

@if (GeneralSettings.showRawTab && showRaw) {
  <app-raw-view class="rawContent" [rawObject]="rawResponse"></app-raw-view>
} @else if (contentType && contentType.toLowerCase() !== MediaTypes.Siren.toLowerCase()) {
  <app-non-siren-view [contentType]="contentType" [rawContent]="rawResponse"></app-non-siren-view>
} @else {
  <app-entity-view [entity]="hto"></app-entity-view>
}

<app-page-navigation [scrollOnly]="GeneralSettings.showRawTab && showRaw"></app-page-navigation>
